<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%= pageTitle %>
    </title>

    <link rel="stylesheet" href="http://localhost:3000/css/bootstrap.min.css" />
    <link rel="stylesheet" href="http://localhost:3000/css/main.css" />
    <script defer src="http://localhost:3000/js/bootstrap.min.js"></script>


    <script src="https://kit.fontawesome.com/6fb74b4c41.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css">
    <script defer src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script defer src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
    <script defer src="https://cdn.datatables.net/select/1.6.2/js/dataTables.select.min.js"></script>

    <script defer src="http://localhost:3000/js/queryTable.js"></script>