<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary test">
        <div class="container-fluid">
            <a class="navbar-brand" href="/homepage">Health Status Tracker</a>
            <button
                class="navbar-toggler test"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/facility"
                            >Facility</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/employee"
                            >Employee</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/vaccination"
                            >Vaccination</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/infection"
                            >Infection</a
                        >
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/schedule"
                            >Schedule</a
                        >
                    </li>
                </form>
            </div>
        </div>
    </nav>
</header>
