<nav style="--bs-breadcrumb-divider: '|';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/homepage">Homepage</a></li>

        <% if(pageTitle == 'Query 6') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 6</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query6">Query 6</a></li>
        <%}%>

        <% if(pageTitle == 'Query 7') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 7</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query7">Query 7</a></li>
        <%}%>

        <% if(pageTitle == 'Query 8') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 8</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query8">Query 8</a></li>
        <%}%>

        <% if(pageTitle == 'Query 9') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 9</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query9">Query 9</a></li>
        <%}%>

        <% if(pageTitle == 'Query 10') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 10</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query10">Query 10</a></li>
        <%}%>
        
        <% if(pageTitle == 'Query 11') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 11</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query11">Query 11</a></li>
        <%}%>
        
        <% if(pageTitle == 'Query 12') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 12</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query12">Query 12</a></li>
        <%}%>
        
        <% if(pageTitle == 'Query 13') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 13</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query13">Query 13</a></li>
        <%}%>
        
        <% if(pageTitle == 'Query 14') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 14</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query14">Query 14</a></li>
        <%}%>

        <% if(pageTitle == 'Query 15') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 15</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query15">Query 15</a></li>
        <%}%>
        
        <% if(pageTitle == 'Query 16') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 16</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query16">Query 16</a></li>
        <%}%>

        <% if(pageTitle == 'Query 17') {%>
        <li class="breadcrumb-item active" aria-current="page">Query 17</li>
        <% } else{ %>
        <li class="breadcrumb-item "><a href="/homepage/query17">Query 17</a></li>
        <%}%>
            
        
       
        
        
        
        
        
        
        
    </ol>
</nav>