<%- include('includes/head.ejs') %>

</head>

<body>
    <div class="d-flex flex-column mb-3" style="margin: 20px;">
        <h2>404 | Page not found</h2>
        <a href="/homepage">homepage page</a>
    </div>

    </main>


    <%- include('includes/end.ejs') %>