<%- include('includes/head.ejs') %>
<!-- link to css files -->
</head>

<body>
    <main class="d-flex flex-nowrap">
        <%- include('includes/sidebar.ejs') %>
        <div class="d-flex flex-column mb-3" style="margin: 20px;">
            <h1>Facility</h1>
        </div>

    </main>

    <%- include('includes/end.ejs') %>