<%- include('includes/head.ejs') %>
<!-- link to css files -->
</head>

<body>
    <main class="d-flex flex-nowrap">
        <%- include('includes/sidebar.ejs') %>
        <h1>
            
        </h1>

    </main>

    <%- include('includes/end.ejs') %>