<%- include('includes/head.ejs') %>
<!-- link to css files -->
</head>

<body>
    <main class="d-flex flex-nowrap">
        <%- include('includes/sidebar.ejs') %>
        <div class="d-flex flex-column mb-3" style="margin: 20px;">
            <h1>Homepage</h1>
            <a href="/homepage/query6">Query #6</a>
            <a href="/homepage/query7">Query #7</a>
            <a href="/homepage/query8">Query #8</a>
            <a href="/homepage/query9">Query #9</a>
            <a href="/homepage/query10">Query #10</a>
            <a href="/homepage/query11">Query #11</a>
            <a href="/homepage/query12">Query #12</a>
            <a href="/homepage/query13">Query #13</a>
            <a href="/homepage/query14">Query #14</a>
            <a href="/homepage/query15">Query #15</a>
            <a href="/homepage/query16">Query #16</a>
            <a href="/homepage/query17">Query #17</a>
        </div>

    </main>


    <%- include('includes/end.ejs') %>